<launch>
    <arg name="robot_type" default="go1" doc="Robot type: [a1, aliengo, go1, laikago]"/>

    <param name="legged_robot_description" command="$(find xacro)/xacro $(find unitree_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
          args="$(find unitree_description)/urdf/robot.xacro $(arg robot_type)"/>

    <rosparam file="/home/zcx/catkin_ws/src/legged_control/legged_examples/legged_unitree/legged_unitree_hw/config/$(arg robot_type).yaml" command="load"/>

    <param name="robot_type" value="$(arg robot_type)"/>
    <node name="legged_unitree_hw" pkg="legged_unitree_hw" type="legged_unitree_hw" respawn="false"
          clear_params="true" output="screen"/>

</launch>
